body {
	background: #ffffff
}
 h1{
	background: rgb(101, 101, 104);
	padding-left: 10%;
	padding: 1.5%;
 }
#banner {
	width: 100%;
	
}
.principal{
	background:#CCCCCC ;
	padding: 35px;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.biridin {
	font-style: italic;
	  

}
.beneficios{
	background: #ffffff;
	padding: 20px;
}
h3{
	text-align: center;
	background: #cf9595;
}
ul{
	display: inline-block;
	vertical-align:top;
	width: 20%;
	margin-right: 15%;
}
.benef{
	width: 50%;
}
